/* -------------------------LOGIN---------------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

 
 .main-login {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	 flex-direction: column; 
	font-family: "Playfair Display", serif;
	height: 100vh;
	margin: -20px 0 50px;
} 


h1 {
	font-weight: bold;
	margin: 0;	
}


a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	margin: 15px 0;
	font-weight: 100;
}

button {
	border-radius: 20px;
	border: 1px solid transparent;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin-top: 1em;

    background-color: #333;
	letter-spacing: .3em;
}

form {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
	font-size: 1.2em;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;

	font-size: 1.8em;
}

.overlay {
	background-color: #6A9C89;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;	
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}

 .overlay-right {
	right: 0;
	transform: translateX(0);
}

/* ------------------HOME------------------ */

.header {
    width: 100%;
    min-width: 5em;
    padding: 2em 1.2em; 
    /* position: fixed;   
    flex-flow: column nowrap;
    justify-content: center; */
    /* align-items: center; */
    letter-spacing: 1px;

}

.header .a{
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    font-weight: 400;
    font-family: "Inter", sans-serif;
 
}
.header .h1{
    color: #000000;
}    


.header .nav .ul {
    list-style: none;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0;
    margin: 0;
    
    
}
.header .li{
    margin: 0 1em;
    list-style: none;
}

/* ----------RESERVAS----------------- */

.tablaReserva , .tablaHabitacion {
	margin: 2em 5em;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
  }
  
  tr:nth-child(even) {
	background-color: #dddddd;
  }

.nuevaReserva , .nuevaHabitacion{
	border-radius: 3px;
}

.modificar {
	border-radius: 3px;
	background-color: violet;
	color: #dddddd;
	margin: 0;
	width: 1em;
}
.cancelar{
	border-radius: 3px;
	margin: 0;
	width: 1em;
}

.formReserva , .formHabitacion , .formCliente{
	width: 	40%;
	margin: 2.5em auto;
	text-align: center;
}

.filtro{
	width: 50%;
	display: flex;
	justify-content: space-between;
	
	border: 1px solid black;
	padding: 1em;
}

.buscar{
	width: 30%;
	border-radius: 3px;
	margin: 0;
}

.calculoReservas{
	display: block;
	border: 1px solid black;
	padding: 1em;
}
.calculoReservas h3{
	text-align: center;
	margin-top: 1em;
	color: purple;
}
.inputFecha{
	width: 30%;
	border-radius: 3px;
	margin: 0;
}

.contenedorFiltro-Calculo{
	display: flex;
	justify-content: space-between;
}
.btnCalcular , .btnGuardar{
	border-radius: 3px;
	margin: 0;
}

.tablaModifica , .contenedorGuardar{
	width: 80%;
	margin: 2em 5em;
}

